@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Sarabun', sans-serif;
}

.container {
    max-width: 2280px;
    margin: 0 auto;
}

nav {
    background: url('/WebDevTC/image/Logo-real.svg') no-repeat;
    background-size: 140px;
    display: flex;
    background-position-y: center;
    justify-content: end;
    background-color: #000000;
    padding: 2rem;
}

.nav-btn {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav-btn1 {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav-btn1:hover {
    transform: translateY(-8px);
}

.nav-btn2 {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav-btn2:hover {
    transform: translateY(-8px);
}

.nav-btn3 {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav-btn3:hover {
    transform: translateY(-8px);
}

.nav-btn4 {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav-btn4:hover {
    transform: translateY(-8px);
}

.nav-btn4 a {
    background-color: rgb(255, 0, 0);
    padding: .3rem .3rem;
    border-radius: 2rem;
    font-style: italic;
}

.nav-btn a {
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
}

.container2 {
    max-width: 2280px;
    margin: 0 auto;
}

.background {
    height: 900px;
    background: url('/WebDevST/image/เช้า 1.svg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.z {
    display: grid;
    grid-template-columns: repeat(1 , 4fr);
    background-color: #ffffff;
    width: 2280px;
    height: 320px;
    filter: opacity(90%);
}

.background h1 {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background h2 {
    padding: 3rem;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn1 {
    display: flex;
    width: fit-content;
    margin-left: 990px;
    margin-top: 70px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.header-btn1:hover {
    transform: translateY(-50px);
}

.header-btn1 a {
    font-size: 30px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    border-radius: 15px;
    height: 350px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.Back {
    background: url('/WebDevST/image/Icon-d.svg') no-repeat;
    background-size: 80px;
    background-position-x: center;
    background-position-y: 40px;
    align-items: center;
}

.content {
    height: 500px;
}

body{
	font-family: 'Sarabun', sans-serif;
}

.footer{
	background-color: #24262b;
    padding: 15px 0;
}

.footer-col{
    height: max-content;
    width: 100%;
    padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-cop {
    color: #ffffff;
}


    @media(max-width: 1000px){
        .header-b {
        justify-content: center;
        background-size: cover;
     }
    }

@media(max-width: 767px){
    .nav-btn a{
    width: 100%;
 }
}

@media(max-width: 574px){
    .nav-btn{
    width: 40%;
    }
    }

    @media(max-width: 430px){
        .nav-btn{
        display: grid;
        grid-template-columns: repeat(2 , 4fr);
        gap: .8rem;
        width: 60%;
        scale: 80%;
        }
        }
    
    @media(max-width: 1000px){
        .background {
        display: flex;
        justify-content: center;
     }
    }
    @media(max-width: 1000px){
        .background h1{
        font-size: 40px;
     }
    }
    
    @media(max-width: 1000px){
        .background h2{
        font-size: 30px;
     }
    }

    @media(max-width: 500px){
        .background {
        display: flex;
        justify-content: center;
     }
    }
    @media(max-width: 500px){
        .background h1{
        font-size: 40px;
     }
    }
    
    @media(max-width: 500px){
        .background h2{
        font-size: 30px;
     }
    }

    @media(max-width: 1000px){
        .background p{
        font-size: 20px;
     }
    }


    @media(max-width: 767px){
        .footer-col{
        width: 50%;
        margin-bottom: 30px;
     }
    }

@media(max-width: 574px){
.footer-col{
    width: 100%;
    bottom: 0;
}
}
